# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Open redis client view'
      'command': 'redis-client:open'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'redis-client'
      'submenu': [
        {
          'label': 'Open view'
          'command': 'redis-client:open'
        }
      ]
    ]
  }
]
